@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@theme inline {
    --color-primary: #8B5DCF;
    --color-secondary: #ffffff;
    --color-shade: #5f3499;

    --font-sans: var(--font-brownbaglunch);
    --font-mono: var(--font-cascadiamono);
    --font-custom: var(--font-gangofthree);
}
